@model ComputerStore.BusinessLogic.Domains.ItemModel
<div class="container col-lg-8 col-md-10 col-sm-12">
    <div class="row my-2"><h1>@Model.Name</h1></div>
    <div class="row mb-4">
        <div class="col-md-5 col-sm-12 block-style d-flex flex-column align-items-center justify-content-center">
            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Image.Bytes)" width="100%" height="auto"
                 class="card-img-top img-fluid p-1" alt="@Model.Image.Alt"/>
        </div>
        <div class="col">
            <div class="container">
                <div class="row mb-3">
                    <h2>@Model.Price<span>$</span></h2>
                </div>
                <div class="row">
                    <h5>Brief Description</h5>
                    <p>@Model.Brief</p>
                </div>
                <div class="d-grid">
                    <a asp-action="Add" asp-controller="Cart" asp-route-itemId="@Model.Id" class="btn active-btn">
                        <img class="p-1" width="24" height="24" src="/icons/add-to-cart-icon.png">
                        <span>Add to Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Details</h5>
            <p>@Model.Description</p>
        </div>
    </div>
</div>