@model ComputerStore.ViewModels.ItemFormModel

    ViewData["Title"] = "Edit";

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="data:image/jped;base64, @Convert.ToBase64String(Model.Item.Image.Bytes)" alt="@Model.Item.Image.Alt"/>
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" value="@Model.Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" value="@Model.Item.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" value="@Model.Item.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" value="@Model.Item.Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Item.Image" class="control-label"></label>
                <input asp-for="ImageFile" type="file" accept=".jpeg" class="form-control"/>
            </div>

            <select class="form-select" aria-label="Default" asp-for="SelectedCategoryId">
                <option value="@Model.SelectedCategoryId" selected>@Model.Categories.FirstOrDefault(c=>c.Id == Model.SelectedCategoryId).Name</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
